<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form [formGroup]="loginForm">
	<img class="image" src="assets/imgs/cbc_splash.png" alt="logo">
	<ion-list no-lines class="inputs">
	    <ion-item>
	      <ion-label>Perfil</ion-label>
	      <ion-select [(ngModel)]="cargo" placeholder="Selecionar" formControlName="cargo">
	        <ion-option value="A">Aluno</ion-option>
	        <ion-option value="P">Professor</ion-option>
	      </ion-select>
    	</ion-item>
	    <ion-item *ngIf="!loginForm.controls.cargo.valid && (loginForm.controls.cargo.dirty || loginForm.controls.cargo.touched)" color="danger">
	      <div [hidden]="!loginForm.controls.cargo.errors.required">
	        O campo é obrigatório
	      </div>
	    </ion-item>
		<ion-item>
			<ion-label color="light-grey">
			<ion-icon item-left name="person"></ion-icon></ion-label>
			<ion-input fixed type="email" required placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="light-grey">
			<ion-icon item-left name="lock" minlength="6" ></ion-icon></ion-label>
			<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
		</ion-item>
		<ion-item *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)" color="danger">
	      <div [hidden]>
	        Senha deve conter, no mínimo, 6 caracteres.
	      </div>
	    </ion-item>
		<ion-item>
			<button ion-button class="button" round type="submit" [disabled]="!loginForm.valid"  (click)="login()" ion-button>
			Entrar</button>
		</ion-item>
	</ion-list>

	<p class="bottom">Não tem uma conta? <a  (click)="cadastrar()" tappable color="primary">
	Criar uma</a></p>
</form>
</ion-content>
