<!--
  Generated template for the BuscaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Buscar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

	<ion-segment  class="SwipedTabs-tabs"  >
		<ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
		[ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
			{{tab}}
		</ion-segment-button>
	</ion-segment>

	<!-- here is our dynamic line  "indicator"-->
	<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>

	<ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
							(ionSlideWillChange)="updateIndicatorPosition()"
							(ionSlideDidChange)="updateIndicatorPosition()"
							(pan)="updateIndicatorPosition()"
							[pager]="false">
		<ion-slide>
			<form [formGroup]="form">
				<ion-item>
				  <ion-label>Supermercado</ion-label>
            <ion-select [(ngModel)]="supermercado" placeholder="Todos" formControlName="supermercado">
              <ion-option *ngFor="let sup of supermercadosDropList" [value]="sup">{{ sup }}</ion-option>
            </ion-select>
				</ion-item>

				<ion-item>
				  <ion-label>Período</ion-label>
				  <ion-datetime displayFormat="MMMM/YYYY" [(ngModel)]="dataPesquisa" placeholder="Selecionar" formControlName="dataPesquisa"></ion-datetime>
				</ion-item>

			    <div padding>
			     <button ion-button block type="submit" (click)="onSubmit()">Buscar</button>
			    </div>
			</form>
		  <ion-list>
			<button ion-item *ngFor="let p of pesquisas" (click)="itemTapped($event, p)">
		      <div class="item-datarealizacao">
		      {{p.data}}
		      </div>
		      <div class="item-aluno">
		        {{p.email}}
		      </div>
		      <div class="item-supermercado" item-end>
		        {{p.supermercado}}
		      </div>
		    </button>
		  </ion-list>
		</ion-slide>

		<ion-slide>
			<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
			<ion-list>
			<button ion-item *ngFor="let aluno of alunosList"  (click)="itemAlunoTapped($event, aluno)">
		      <div class="aluno-nome">
		      <h2> {{ aluno.nome }} </h2>
		      </div>
		      <div class="aluno-mat_siape" item-end>
		        <h3><strong> Matrícula: </strong>{{ aluno.mat_siape }}</h3>
		      </div>
		      <div class="aluno-email">
		        <h3><strong> Email: </strong>{{ aluno.email }}</h3>
		      </div>
		    </button>
		  </ion-list>
    </ion-slide>

    <ion-slide>
      <!-- <ion-list radio-group [(ngModel)]="radio">
          <ion-item item-start>
              <ion-label>Supermercados</ion-label>
              <ion-radio value="supermercados" checked></ion-radio>
            </ion-item>
            <ion-item item-end>
              <ion-label>Produtos</ion-label>
              <ion-radio value="produtos"></ion-radio>
            </ion-item>
      </ion-list> -->

      <ion-list>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-item-sliding #slidingItem *ngFor="let supermercados of supermercadoList">
          <ion-item>
            <button ion-item (click)="itemSupermercadoTapped($event, supermercados)">
              <div class="supermercado-nome">
                <h2> {{ supermercados.nomeSupermercado }} </h2>
              </div>
              <div class="supermercado-endereco">
                <h3><strong> Endereço: </strong>{{ supermercados.endereco }}</h3>
              </div>
              <div class="supermercado-bairro">
                <h3><strong> Bairro: </strong>{{ supermercados.bairro }}</h3>
              </div>
            </button>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button (click) = "editarSupermercado($event, supermercados)" color="secondary">
                      <div>
                          <ion-icon name="create"></ion-icon>
                      </div>
                      <label>Editar</label>
              </button>
              <button ion-button (click) = "removeSupermercado($event, supermercados)" color="danger">
                      <div>
                          <ion-icon name="close"></ion-icon>
                      </div>
                      <label>Excluir</label>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>


      <ion-list>
          <ion-item-sliding #slidingItem *ngFor="let produtos of produtosList">
            <ion-item>
            <button ion-item (click)="itemProdutoTapped($event, produtos)">
              <div class="produto-nome">
                <h2> {{ produtos.nomeProduto }} </h2>
              </div>
              <div class="produto-marca">
                <h3><strong> Marca: </strong>{{ produtos.marca }}</h3>
              </div>
              <div class="supermercado-bairro">
                <h3><strong> Medida: </strong>{{ produtos.medida }}</h3>
              </div>
            </button>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="secondary" (click)="editProduto($event, produtos)">
                      <div>
                          <ion-icon name="create"></ion-icon>
                      </div>
                      <label>Editar</label>
              </button>
              <button ion-button color="danger" (click)="removeProduto($event, produtos)">
                      <div>
                          <ion-icon name="close"></ion-icon>
                      </div>
                      <label>Excluir</label>
              </button>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  </ion-slide>
</ion-slides>
</ion-content>

