<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="form">
    <!-- <ion-item>
      <ion-input type="number" disabled="true" formControlName="id" placeholder="ID" value="{{nomeProduto + marca}}"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input type="text" formControlName="nomeProduto" placeholder="Nome do Produto"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nomeProduto.valid && (form.controls.nomeProduto.dirty || form.controls.nomeProduto.touched)" color="danger">
      <div [hidden]="!form.controls.nomeProduto.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Medida</ion-label>
      <ion-select [(ngModel)]="medida" placeholder="Selecionar" formControlName="medida">
        <ion-option value="Un">Unidade (Un)</ion-option>
        <ion-option value="Kg">Quilogramas (Kg)</ion-option>
        <ion-option value="Mg">Miligramas (Mg)</ion-option>
      </ion-select>
    </ion-item>
      <ion-item *ngIf="!form.controls.medida.valid && (form.controls.medida.dirty || form.controls.medida.touched)" color="danger">
        <div [hidden]="!form.controls.medida.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-input type="text" formControlName="marca" placeholder="Marca"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.marca.valid && (form.controls.marca.dirty || form.controls.marca.touched)" color="danger">
        <div [hidden]="!form.controls.marca.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

    <div padding>
     <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">{{buttonName}}</button>
    </div>

 </form>
</ion-content>
