<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cadastrar Produto</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="form">
    <ion-item>
      <ion-input type="text" formControlName="nomeProduto" placeholder="Nome do Produto"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nomeProduto.valid && (form.controls.nomeProduto.dirty || form.controls.nomeProduto.touched)" color="danger">
      <div [hidden]="!form.controls.nomeProduto.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Medida</ion-label>
      <ion-select [(ngModel)]="medida" placeholder="Selecionar" formControlName="medida">
        <ion-option value="U">Unidade</ion-option>
        <ion-option value="Kg">Quilogramas</ion-option>
        <ion-option value="Ml">Miligramas</ion-option>
      </ion-select>
    </ion-item>
      <ion-item *ngIf="!form.controls.medida.valid && (form.controls.medida.dirty || form.controls.medida.touched)" color="danger">
        <div [hidden]="!form.controls.medida.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-input type="text" formControlName="marca" placeholder="Marca"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.marca.valid && (form.controls.marca.dirty || form.controls.marca.touched)" color="danger">
        <div [hidden]="!form.controls.marca.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

    <div padding>
     <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Cadastrar</button>
    </div>

 </form>
</ion-content>
