<ion-header>

  <ion-navbar>
    <ion-title>Realizar Pesquisa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="form">
        <ion-item>
            <ion-label>Nome do Supermercado</ion-label>
            <ion-select [(ngModel)]="nomeSupermercado" placeholder="Selecionar" formControlName="nomeSupermercado">
              <ion-option value="P">Paulinos</ion-option>
              <ion-option value="L">Lig Zarb</ion-option>
              <ion-option value="S">Santa Rita</ion-option>
            </ion-select>
          </ion-item>
            <ion-item *ngIf="!form.controls.nomeSupermercado.valid && (form.controls.nomeSupermercado.dirty || form.controls.nomeSupermercado.touched)" color="danger">
            <div [hidden]="!form.controls.nomeSupermercado.errors.required">
              O campo é obrigatório
            </div>
          </ion-item>
          <!-- <ion-item *ngIf="getSupermercado()">
          </ion-item> -->

          <ion-item>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="data_realizacao" placeholder="Data"></ion-datetime>
              <ion-icon name="calendar"></ion-icon>
            </ion-item>
              <ion-item *ngIf="!form.controls.data_realizacao.valid && (form.controls.data_realizacao.dirty || form.controls.data_realizacao.touched)" color="danger">
                  <div [hidden]="!form.controls.data_realizacao.errors.required">
                    O campo é obrigatório
                  </div>
            </ion-item>

          <ion-item>
              <ion-label><h2><strong>Produto</strong></h2></ion-label>
              <ion-select [(ngModel)]="nomeProduto" placeholder="Nome" formControlName="nomeProduto">
                <ion-option value="C">Carne</ion-option>
                <ion-option value="L">Leite</ion-option>
                <ion-option value="A">Arroz</ion-option>
              </ion-select>


              <ion-item *ngIf="!form.controls.nomeProduto.valid && (form.controls.nomeProduto.dirty || form.controls.nomeProduto.touched)" color="danger">
              <div [hidden]="!form.controls.nomeProduto.errors.required">
                O campo é obrigatório
              </div>
            </ion-item>
            <!-- <ion-item *ngIf="getProduto()">
            </ion-item> -->


                <ion-select [(ngModel)]="marca" placeholder="Marca" formControlName="marca">
                  <ion-option value="1">Marca 1</ion-option>
                  <ion-option value="2">Marca 2</ion-option>
                  <ion-option value="O">Outra</ion-option>
                </ion-select>

            <ion-item *ngIf="!form.controls.marca.valid && (form.controls.marca.dirty || form.controls.marca.touched)" color="danger">
              <div [hidden]="!form.controls.marca.errors.required">
                O campo é obrigatório
              </div>
            </ion-item>
            <ion-item *ngIf="getMarca()"></ion-item>

            <ion-item [hidden]="!isVisible">
                <ion-input type="text" formControlName="marca" placeholder="Marca"></ion-input>
              </ion-item>
              <ion-item *ngIf="!form.controls.marca.valid && (form.controls.marca.dirty || form.controls.marca.touched)" color="danger">
                <div [hidden]="!form.controls.marca.errors.required">
                  O campo é obrigatório
                </div>
              </ion-item>


              <ion-input type="text" formControlName="preco" placeholder="Preço" width="20%"></ion-input>

                <ion-item *ngIf="!form.controls.preco.valid && (form.controls.preco.dirty || form.controls.preco.touched)" color="danger">
                  <div [hidden]="!form.controls.preco.errors.required">
                    O campo é obrigatório
                  </div>
                </ion-item>
                <ion-item ion-start>
                    <div>
                        <button>
                            <ion-icon name="add-circle"></ion-icon>
                        </button>
                      </div>
                  </ion-item>
          </ion-item>
          <ion-item>
              <ion-list>
                  <ion-item-sliding #slidingItem *ngFor="let p of produtos">
                          <button ion-item>
                              <div class="item-nome" item-start>
                              {{p.nome}}
                              </div>
                              <div class="item-marca">
                                {{p.marca}}
                              </div>
                              <div class="item-medida">
                                {{p.medida}}
                              </div>
                              <div class="item-preco" item-end>
                                {{p.preco}}
                              </div>
                          </button>
                        <ion-item-options>
                        <button ion-button color="danger" (click)="delete(slidingItem, p.nome)">
                            <div>
                                <div>
                                    <ion-icon name="trash"></ion-icon>
                                </div>
                                <label>Deletar</label>
                          </div>
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-item>
            <div padding>
                <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Finalizar Pesquisa</button>
            </div>
    </form>



</ion-content>
