<!--
  Generated template for the DetalhesPesquisaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes {{selectedItem.supermercado}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="selectedItem" padding>
    <div class="supermercado">
      <h1>{{selectedItem.supermercado}}</h1>
    </div>
    <div class="data">
      <ion-label><strong>Data: </strong>
      {{selectedItem.data}}</ion-label>
    </div>
    <div class="email">
      <ion-label><strong>E-mail do responsável: </strong>
        {{selectedItem.email}}
      </ion-label>
    </div>
    <ion-item>
        <ion-list *ngFor="let p of selectedItem.produtos">
            <button ion-item>
              <div class="item-nome" item-start>
                <h2>{{p.nomeProduto}}</h2>
              </div>
              <div class="item-marca">
                <strong>Marca/Tipo: </strong>
                {{p.marca}}
              </div>
              <div class="item-medida">
                <strong>Medida: </strong>
                {{p.medida}}
              </div>
              <div class="item-preco" item-end>
                R$ {{p.preco}}
              </div>
            </button>
        </ion-list>
      </ion-item>
      <button ion-button block color="secondary" (click)="exportar(selectedItem)">
        <div>
            <ion-icon name="download"></ion-icon>
            <label>Exportar</label>
        </div>
    </button>
  </div>
</ion-content>
