<!--
  Generated template for the CadastrarSupermercadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar Supermercado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
      <ion-item>
          <ion-input type="tel" [(ngModel)]="cnpj"  maxLength="14" formControlName="cnpj" (ionBlur)="cnpj = format(cnpj)" placeholder="CNPJ (Somente números)" name="cnpj"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.cnpj.valid && (form.controls.cnpj.dirty || form.controls.cnpj.touched)" color="danger">
          <div [hidden]="!form.controls.cnpj.errors.required">
            O campo é obrigatório
          </div>
        </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="nomeSupermercado" placeholder="Nome do Supermercado"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nomeSupermercado.valid && (form.controls.nomeSupermercado.dirty || form.controls.nomeSupermercado.touched)" color="danger">
      <div [hidden]="!form.controls.nomeSupermercado.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="endereco" placeholder="Endereço"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.endereco.valid && (form.controls.endereco.dirty || form.controls.endereco.touched)" color="danger">
      <div [hidden]="!form.controls.endereco.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="bairro" placeholder="Bairro"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.bairro.valid && (form.controls.bairro.dirty || form.controls.bairro.touched)" color="danger">
      <div [hidden]="!form.controls.bairro.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Cadastrar</button>
     </div>
  </form>
</ion-content>
